@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    height: 50px;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    font-size: 22px;
    font-family: 'Inter', sans-serif;
  
    .logoHeader {
      height: 70px;
  
      img {
        height: 50px;
      }
    }
  
    a {
      text-decoration: none;
      color: #EC4A7D;
    }
  
    .menuToggle {
      display: none; 
  
      @media (max-width: 920px) {
        display: block;  
      }
  
      img {
        height: 30px; 
      }
    }
  
    // Menu Grande 
    .nav {
      display: flex;  
      flex-direction: row; 
      align-items: center;

  
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
  
        li {
          font-family: 'Inter', sans-serif;
          color: #EC4A7D;
          display: inline-block;
          margin-right: 25px;
        }
      }
  
      @media (max-width: 920px) {
        display: none; 
      }
    }
  
    // Menu Responsivo 
    .nav.open {
      display: block; 
      position: absolute;
      top: 50px;
      left: 0;
      background-color: white;
      width: 100%;
      z-index: 1;
  
      ul {
        flex-direction: column; 
        padding: 10px;
        list-style: none;
      }
  
      li {
        margin: 10px 0;
      }
    }
  
    .barraPesquisa {
      display: flex;
      justify-content: center;
  
      input {
        border: 1px solid #dcdcdc;
        border-radius: 10px;
        width: 250px;
        height: 25px;
        background-color: #dcdcdc;
      }
  
      .bttLupa {
        border: none;
        background: none;
        cursor: pointer;
      }
  
      .imgLupa {
        height: 30px;
      }
    }
  
    .imgCarrinho, .imgConta {
      height: 30px;
      cursor: pointer;
    }
  
    .categoriasMenu {
      position: relative;
  
      .submenu {
        display: none;
        position: absolute;
        background-color: #ffffff;
        padding: 10px;
        list-style: none;
        margin: 0;
        border: 1px solid #dcdcdc;
        z-index: 1;
        top: 100%;
        left: 0;
        width: 120px;
  
        li {
          margin-bottom: 5px;
          display: block;
  
          a {
            color: #EC4A7D;
            text-decoration: none;
            display: block;
            padding: 5px;
  
            &:hover {
              text-decoration: underline;
              background-color: #f0f0f0;
            }
          }
        }
      }
  
      &:hover .submenu {
        display: block;
      }
    }
  }
  
  // Menu Grande 
  @media (min-width: 920px) {
    .nav {
      display: flex !important;  
    }
  
    .nav.open {
      display: none !important;  
    }
  
    .menuToggle {
      display: none;  
    }
  }
  
  // Menu Responsivo 
  @media (max-width: 920px) {
    .logoHeader {
      display: none; 
    }
  
    .nav {
      display: none;  
    }
  
    .nav.open {
      display: block;  
    }
  }
  