@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

.blusaPagecontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    .blusaPageSection {
        h1 {
            text-align: left;
            margin-bottom: 20px;
            font-size: 40px;
            font-family: 'Alfa Slab One', sans-serif;
            color: black;
            font-weight: bold;
        }
    }

    .blusaPageGride {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        .blusaProduto {
            box-sizing: border-box;
            background-color: #fff;
            padding: 20px;
            transition: transform 0.3s;
            cursor: pointer;

            &:hover {
                transform: translateY(-5px);
            }

            img {
                width: 100%;
                height: auto;
                display: block;
            }

            .blusaDetalhes {
                margin-top: 10px;
                font-family: 'Montserrat', sans-serif;

                p {
                    margin: 5px 0;
                    text-align: left; 
                    margin-bottom: 10px;
                }

                .nomeBlusa {
                    color: black;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    font-weight: bold;
                }

                .precoBlusa {
                    color: #EC4A7D;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
    }

    .mudarPagina {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

        .bttMudarPagina {
            background-color: #fff;
            border: 1px solid #ddd;
            color: #EC4A7D;
            padding: 10px 15px;
            cursor: pointer;
            margin: 0 5px;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;

            &:hover {
                background-color: #EC4A7D;
                color: #fff;
            }

            &.ativo {
                background-color: #EC4A7D;
                color: white;
                border-color: #EC4A7D;
            }
        }
    }
}

@media (max-width: 1024px) {
  .blusaPageGride {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .blusaPageGride {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .blusaPageGride {
    grid-template-columns: 1fr;
  }
}