@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

.detalhesPedidoWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .conteudoFlex {
    flex: 1;
  }

  main {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
  }


  .detalhesPedidoContainer {
    h1 {
      margin-bottom: 20px;
      font-family: 'Inter', sans-serif;

    }

    .cardClienteEndereco {
      background-color: white;
      border-radius: 8px;
      padding: 15px 20px;
      margin-bottom: 30px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.2);
      font-family: 'Inter', sans-serif;

      h2{
        color: #EC4A7D;
      }

      p{
        font-size: 20px;
      }
    }

    .bttStatus button{

      font-size: 16px;
      font-family: 'Inter', sans-serif;
      text-align: center;
      background-color: #EC4A7D;
      width: 200px;
      height: 35px;
      border-radius: 60px;
      border: none;
      margin-top: 30px;
      margin-right: 10px;
      box-sizing: border-box;
      cursor: pointer;
      padding: 10px;
      color: white;

    }

    .produtosContainer {
      display: flex;
      flex-direction: column;
      gap: 15px;
      font-family: 'Inter', sans-serif;

      .cardProduto {
        display: flex;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        padding: 15px;

        .produtoImagem {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 8px;
          margin-right: 20px;
        }

        .produtoDetalhes {
          display: flex;
          flex-direction: column;
          justify-content: center;

          h3 {
            margin: 0 0 8px 0;
          }

          p {
            margin: 3px 0;
          }
        }
      }
    }
  }
}
