@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}



.loginPage {
    display: flex;
    justify-content: center;
}

.tLogin {
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 24px;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #fdfdfd;
    width: 380px;
    height: 500px;
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    justify-content: space-evenly;
    font-size: 20px;
    color: black;


    .loginForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        input {
            padding: 8px;
            border: 1px solid #EC4A7D;
            border-radius: 4px;
            width: 100%;
            max-width: 300px;
            height: 45px;
            margin-bottom: 10px;
            box-sizing: border-box;

            &::placeholder {
                font-size: 14px;
                color: black;
            }
        }

        label {
            font-size: 20px;
            color: black;
            width: 280px;
            display: block;
            margin-bottom: 5px;
        }

        button {
            font-size: 20px;
            color: white;
            background-color: #EC4A7D;
            width: 100%;
            max-width: 280px;
            height: 45px;
            border-radius: 60px;
            border: none;
            margin-top: 15px;
            box-sizing: border-box;
            cursor: pointer;
        }
    }

    .bttCadastroLogin {
        font-size: 20px;
        color: #EC4A7D;
        background-color: white;
        width: 280px;
        height: 45px;
        border-radius: 60px;
        border: 1px solid #EC4A7D;
        margin-top: 15px;
        box-sizing: border-box;
        cursor: pointer;
    }
}
