@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

.openModalBtn{
    
    button {
        font-size: 14px;
        background-color: #EC4A7D;
        width: 120px;
        height: 35px;
        border-radius: 18px;
        border: none;
        margin-top: 30px;
        margin-right: 10px;
        box-sizing: border-box;
        cursor: pointer;
        padding: 10px;
        color: white;
    }
}


.headerModal{
    font-family: 'DM Serif Display', serif;
    font-weight: 400;

}

.dadosForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Inter', sans-serif !important;
    font-weight: 400;


    input {
        padding: 8px;
        border: 1px solid #EC4A7D;
        border-radius: 4px;
        width: 100%;
        max-width: 280px;
        margin-bottom: 20px;
        box-sizing: border-box;

        &::placeholder {
            font-size: 14px;
            color: black;
        }
    }

    label {
        font-size: 14px;
        color: black;
        font-weight: 550;
        width: 280px;
        display: block;
        margin-bottom: 5px;
    }

    button {
        font-size: 14px;
        color: white;
        background-color: #EC4A7D;
        width: 100%;
        max-width: 280px;
        height: 35px;
        border-radius: 15px;
        border: none;
        margin-top: 15px;
        box-sizing: border-box;
        cursor: pointer;
    }
}